.div
{
    padding: 5%;
    transition: transform 0.3s;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid #b0b0b0;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #222222, 10px 10px 5px #444444, 20px 20px 5px #666666;
    background-color: #b0b0b0;
    font-weight: bolder;
}
.nb {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bolder;
    margin-top: 5% ;
    margin-bottom: 2%;
    margin-left: 15%;
}
.btn {
    background-color: rgb(35, 35, 35);
    color: white;
    margin-left: 80%;
    font-weight: bolder;
}
