<div class="trang">
<div class="image">
  <div>
      <img class="center" src ="../assets/hinh/nen1.jpg">
  </div>
  <div class="overlay-text">
    SẢN PHẨM
  </div>
</div>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="navigateToComponent()">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
  </ol>
</nav>
<div class="grid">
     <div><div>
       <h5>DANH MỤC SẢN PHẨM</h5>
       <div class="toolbar">
         <div 
             class="toolbar-item"
             [class.selected]="selectedCategory === category"
             *ngFor="let category of categories"
             
             (click)="selectCategory(category)"
           >
             {{ category }}
           </div>
         </div>
     </div></div>
     <div class="product-grid">
      <div class="product" *ngFor="let sanpham of sanPhams">
          <img [src]="sanpham.duongDanAnh" alt="{{ sanpham.tenSanPham }}">
          <h5>{{ sanpham.tenSanPham}}</h5>
          <p>Giá: {{ sanpham.gia}}</p>
          <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
  </div>
</div>
<div class="qua">
  <button *ngFor="let page of pages" (click)="goToPage(page)" role="button" aria-controls="offcanvasExample">{{ page }}</button>
</div>
</div>
