.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  width: 50%;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 400px;
}

.product {
  border: 1px solid #9f9f9f;
  padding: 10px 20px 10px 20px;
  text-align: center;
  transition: transform 0.3s;
  margin-top: 10px;
  width: 270px;
  height: 300px;
  margin-left: 50%;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: auto;
}
  
  .price {
    margin-top: 10px;
  }
  
  
  .original-price {
    text-decoration: line-through;
    color: #888; 
  }

  .qua {
    margin-left: 50%;
    width: 9%;
    margin-bottom: 10px;
  }
  .toolbar {
    padding: 20px;
    width: 250px;
    height: 50%;
    font-weight: bolder;
    border: 1px none;
    margin-left: 20px;
  }
  
  .toolbar-item {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #b3b3b3;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
  }
  h3 {
    margin-left: 10px;
  }
  label {
    margin-top: 5px;
    font-size: 18px;
  }
  .grid
{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.image {
  position: relative;
 max-width: 100%;
}

.image .overlay-text {
  position: absolute;
  top: 30%;
  left: 20%;
  color:rgb(0, 62, 62);
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}
.center {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.trang {
  max-width: 100%;
}
