<div [ngClass]="{'thanhben': true, 'thanhben--fold': isFolded}">
  <p class="sp">Sản Phẩm</p>
  <ul class="thanhben__list">
  <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          T-Shirt
      </a>
  </li> 
    <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          Jacket
      </a>
  </li> 
    <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          Hoodie
      </a>
  </li> 
    <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          Shorts
      </a>
  </li>  
    <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          Trousers
      </a>
  </li> 
  <li class="thanhben__item">
      <a href="#" target="_blank" class="no-underline">
          >>
      </a>
  </li>  
  </ul> 
    <button (click)="toggleFold()" class="thanhben__btn"></button>
</div>
<div class="trang">
<div class="image">
  <div>
      <img class="center" src ="../assets/hinh/nen1.jpg">
  </div>
  <div class="overlay-text">
    SẢN PHẨM
  </div>
</div>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="navigateToComponent()">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
  </ol>
</nav>
     <div class="product-grid">
      <div class="product" *ngFor="let sanpham of sanPhams">
          <img [src]="sanpham.duongDanAnh" alt="{{ sanpham.tenSanPham }}">
           <h5>{{ sanpham.tenSanPham}}</h5>
          <p>Giá: {{ sanpham.gia}}</p>
          <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
  </div>
<div class="qua">
  <button *ngFor="let page of pages" (click)="goToPage(page)" role="button" aria-controls="offcanvasExample">{{ page }}</button>
</div>
</div>
