.sp-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 5%;
  }

.spimg {
    border: 1px solid #9f9f9f;
    padding: 10px 20px 10px 20px;
    text-align: center;
    transition: transform 0.3s;
    margin-top: 10px;
    width: 450px;
    height: 500px;
    margin-left: 30%;
}
.spimg:hover {
    transform: scale(1.05);
  }

  .sp-container {
    border: 1px none;
    padding: 10px;
    margin: 10px;
  }
  
  .sp-details {
    font-size: 20px;
    font-weight: bolder;
  }
  .custom-line {
    border: 1px solid #000; 
    margin:  center; 
    max-width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
